[project]
	description = reference rate for the OOP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nesterov Vladislav (NesterovVladislav)
[access "refs/for/refs/*"]
	read = group user/Nesterov Vladislav (NesterovVladislav)
	push = group user/Nesterov Vladislav (NesterovVladislav)
	label-Code-Review = -2..+2 group user/Nesterov Vladislav (NesterovVladislav)
	label-Verified = -1..+1 group user/Nesterov Vladislav (NesterovVladislav)
	rebase = group user/Nesterov Vladislav (NesterovVladislav)
	removeReviewer = group user/Nesterov Vladislav (NesterovVladislav)
	submit = group user/Nesterov Vladislav (NesterovVladislav)
[access "refs/heads/*"]
	read = group user/Nesterov Vladislav (NesterovVladislav)
	create = group user/Nesterov Vladislav (NesterovVladislav)
	push = +force group user/Nesterov Vladislav (NesterovVladislav)
	pushMerge = group user/Nesterov Vladislav (NesterovVladislav)
[access "refs/tags/*"]
	push = +force group user/Nesterov Vladislav (NesterovVladislav)
	pushTag = group user/Nesterov Vladislav (NesterovVladislav)
	pushSignedTag = group user/Nesterov Vladislav (NesterovVladislav)
